.main {
    position: relative;
    width: 1400px;
}

p {
    width: 700px;
    display: block;
}

button {
    width: 100px;
    height: 30px;
    background-color: #fff;
    outline: none;
}

button:active,
button:focus {
    background-color: #EBEDEF;
}

a {
    color: black;
}

.product-item {
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.desc {
    padding-left: 25px;
}

#cart {
    width: 650px;
    height: 50px;
    color: white;
    position: absolute;
    top: 15px;
    right: 280px;
}

#cart_items {
    position: absolute;
    top: 100px;
    right: 10px;
}

.hidden {
    display: none;
}

.product-item-cart {
    width: 220px;
    height: 170px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}